= form_with(model: @animal, local: true) do |f|
  .form-group
    = f.label "おなまえ", for:"animal__form--birthday"
    = f.text_field :name, class: "animal__form--name form-control", placeholder: "名前を入力してください"
  
  .form-group
    =f.label "誕生日"
    .form-row
      .form-group.col-sm-4
        #datetimepicker4.input-group.date{"data-target-input" => "nearest"}
          = f.text_field :birth, class:"form-control datetimepicker-input", data: {target:"#datetimepicker4"}, placeholder:"月/日/年"
          .input-group-append{"data-target" => "#datetimepicker4", "data-toggle" => "datetimepicker"}
            .input-group-text
              %i.fa.fa-calendar
      :javascript
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'L',
                locale:"ja"
            });
        })

  .form-group
    =f.label "性別", for:"select-sex-btn"
    .select-sex.form-control.form-control
      = f.radio_button :sex, "オス", id:"male-select",class:"select-sex-btn" 
      = f.label :sex, "オス", for:"male-select"
      = f.radio_button :sex, "メス", id:"female-select",class:"select-sex-btn" 
      = f.label :sex, "メス", for:"female-select" 
      = f.radio_button :sex, "去勢オス", id:"casted-select",class:"select-sex-btn" 
      = f.label :sex, "去勢オス", for:"casted-select" 
      = f.radio_button :sex, "避妊メス", id:"spayed-select",class:"select-sex-btn" 
      = f.label :sex, "避妊メス", for:"spayed-select"
  .form-group
    = f.label "品種", for:"animal_breed_id"
    .form-control
      = f.collection_select :breed_id, Breed.all, :id, :family ,class:"select-breed-btn form-control",prompt:"--"
  .form-group
    = f.label "プロフィール画像を設定する", class:"image-upload__label"
    .form-control
      = f.file_field :image, accept: 'image/jpeg,image/gif,image/png'
  .form-group  
    = f.submit "保存", class:"animal__form--submit btn btn-primary"