.container
  = form_with(model: [@animal,post], local: true) do |f|
    .first-box.row
      = f.datetime_select :recorded_at,{default:Time.now}, class:"recorded_at"  
 
    .second-box.row.align-items-center
      .second-box__left.col
        %table
          %thead
            %tr
              %th
                %h5 お手入れ方法
          %tbody
            .second-box__left
            = f.collection_check_boxes :tool_ids, Tool.all, :id, :care, class:"tool--checkboxes" do |tool|
              =tool.label do
                %tr
                  %td=tool.object.care
                  %td=tool.check_box
                
      .second-box__right.col
        %table
          %thead
            %tr
              %th
                %h5 磨けたところ
          %tbody
            .second-box__right
            = f.collection_check_boxes :tag_word_ids, TagWord.all, :id, :word, class:"tag_words--checkboxes" do |word|
              =word.label do
                %tr
                  %td=word.object.word
                  %td=word.check_box
                  

    .third-box.row
      %div{class:"card text-white bg-primary mb-3 col"}
        %div{class:"card-header"}
          =f.label "できたこと", for:"result--gj" 
          .third-box__left.card-text
            =f.text_area :content_g, size:"50x5", class:"result--gj",placeholder:"どんなことでもいいので、できたことを記録しましょう！"
      %div{class:"card text-white bg-secondary mb-3 col"}
        %div{class:"card-header"}
          =f.label "不安なところ", for:"result--anxiety" 
          .third-box__right--anxiety
            =f.text_area :content_b, size:"50x5", class:"result--anxiety",placeholder:"よくわからないことや改善したいこと"
    .forth-box.row
      .file-box__uploader-image.col 
        画像
        = f.file_field :image, accept:"image/jpeg,image/gif,image/png,video/*"
      .file-box__uploader-movie.col{style:"display:none;"} 
        動画
        = f.file_field :movie, accept:"video/*"
    
    .fifth-box.form.row.align-items-center     
      .memo-box.col
        =f.label :メモ, for:"record--memo" 
        .memo-box--t_area
          =f.text_area :memo, size:"80x5", class:"record--memo",placeholder:"思ったことなんでも記入してください"
      .submit-box.col
        .vertical
          = f.submit "提出する",class:"btn btn-outline-primary"